{% extends 'blog_noticias/index.html' %}

{% load static %}

{% block titulo_doc %}

Acerca de mi

{% endblock %}

{% block titulo_pagina %}

Acerca de mi

{% endblock %}

{% block subtitulo_pagina %}

Lucas D'Alessandro

{% endblock %}

{% block contenido_que_cambia %}

<div class="card-body">
    <h1 class="card-title">Lucas D'Alessandro</h1>
    <h3 class="card-text">Soy un ingresante en la carrera de programación web en la Universidad Nacional de La Matanza.

        Con esta página busque traer noticias de última hora sobre fútbol
        además de ofrecer a los usuarios la oportunidad de publicar sus opiniones, consejos, halagos o enojos
        acerca de este deporte y de sus equipos favoritos mediante el blog.
        También cuenta con una opción de mensajería donde podrán comunicarse con otros usuarios.</h3>
</div>


{% endblock %}