<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    {% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block titulo_doc %} {% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static '/Blog/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Pasión por el Fútbol</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aboutme' %}">Acerca de mi</a></li>
                    {% if request.user.is_authenticated  %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'mi_perfil' %}">Mi Perfil</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'leer_noticias' %}">Todas Las Noticias</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'registrarse' %}">Registrate</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'iniciar_sesion' %}">Inicia Sesión</a></li>
                    {% endif %}
            </div>
        </div>
    </nav>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">{% block titulo_pagina %} {% endblock %}</h1>
                <p class="lead mb-0">{% block subtitulo_pagina %} {% endblock %}</p>
            </div>
        </div>
    </header>

    <!-- Page content-->
    {% block contenido_que_cambia %}

                {% endblock %}
                <!-- Footer-->
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <footer class="py-5 bg-dark">
                    <div class="container">
                        <p class="m-0 text-center text-white">Pasión por el fútbol &copy; Desarrollado por Lucas D'Alessandro 2022</p>
                    </div>
                </footer>
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                <!-- Core theme JS-->
                <script src="js/scripts.js"></script>
                <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
                <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</body>

</html>