{% extends 'cuentas/index.html' %}
{% load static %}

{% block titulo_doc %}
Editar Perfil
{% endblock %}

{% block titulo_pagina %}
Editando informacion de {{ user.username }}
{% endblock %}

{% block contenido_que_cambia %}
<h1 
class="fw-bopld text-center py-5"> Hola {{user.username}} completá los datos a modificar:</h1>
<div class="container">
    <div class="row">
    <div class="col">
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
    {{ form.as_table }}
</table>
<br>
    <input type="submit" class="btn btn-success" value="Guardar"></input>
    <a class="btn btn-secondary" href = "{% url 'mi_perfil' %}">Volver</a>
</form>
</div>
{% endblock %}